/*Contact*/

.map{
    width: 100%;
    height: 630px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 479px){
    .map-rounded{
        margin: 0 -15px;
        border-radius: 0;
    }

    .map{
        height: calc(100vh - 88px);
    }
}