/*Formulario*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(161, 161, 161);
    font-family: Arial, Helvetica, sans-serif;
  }

.formulario{
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.formulario-text{
    width: 100%;
    height: 150px;
    padding: 8px 8px;
    margin: 8px 0;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
}

.formulario-font{
    
    
    
    color:rgb(44, 44, 44);
}