/* General */

body{
    padding-top: 70px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}
@media(max-width:600px){
    body{
        font-size: 14px;
        line-height: 18px;
    }
}

a,
button,
input,
textarea{
    outline: none;
}

a{
    color: #0f7afd;
    text-decoration: none;
}

.a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li, 
nav a{
    display: inline-block;
}

nav a:not(.logo){
    padding: 10px;
}

.pull-left{
float: left;
}
.pull-right{
float: right;
}

.clearfix:before,
.clearfix:after{
content: '';
display: table;
clear: both;
}

h1,
h2,
h3,
h4,
p{
    margin: 0 0 15px;
}

.h1{
    font-size: 40px;
    line-height: 45px;
}

h2{
    font-size: 24px;
    line-height: 30px;
}

h3{
    font-size: 20px;
    line-height: 24px;
}

h4{
    font-size: 18px;
    line-height: 22px;
}

@media(max-width:600px){
    h2{
        font-size: 20px;
        line-height: 24px;
    }
    
    h3{
        font-size: 16px;
        line-height: 20px;
    }
    
    h4{
        font-size: 14px;
        line-height: 18px;
    }
    
}

.h1-span{
    color: #679bdb;
}

.table,
.table-cell{
    width: 100%;
    height: 100%;
}

.table{
    display: table;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

.text-center{
    text-align: center;
}

.map-size{
    height: 410px;
    width: 90%;
}

hr{
    margin: 30px 0;
    border: none;
    border-top: 1px dashed #aaa;
    clear: both;
}



