/* Header */

.header{
    width: 100%;
    padding: 15px 0;
    background: #efefef;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4); 
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.logo{
    padding-top: 10px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;

}

@media(max-width:600px){
    .header{
        text-align: center;
    }
    .logo, 
    .header ul{
        float: none;
    }
    .logo{
        padding-top: 0;
        margin-bottom: 10px;
    }
    .header nav{
        padding: 0px;
        
    }
    .header a:not(.logo){
        font-size: 12px;
        padding: 7px;
        line-height: 12px;
    }
}
