.footer{
width: 100%;
min-height: 40%;
background-color: black;
display: flex;
position: absolute;
margin-top: auto;
}

.footer img{
    width: 40px;
    margin: 11px;
    margin-left: 20px;
}

.footer .col{
    width: 50%;
    padding-top: 80px;
    padding-right: 20px;

}

.footer .par-left{
    color: rgb(218, 216, 216);
    position: absolute;
    padding-top: 140px;
    padding-left: 20px;
}
