.header{
    width: 100%;
    height: 200px;
    background-color: black;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.linkbotao{
    background-color: #e27901; 
    border-color: #9e9e9e;
    color: white;
    border: none;
    border-radius: 2px;
    border: 2px solid rgb(255, 255, 255); 
    margin: 15px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
   position: fixed;
}
.linkbotao:hover {
    background-color: #eca049;
}

