.elfocontainer{
    max-width: 100%;
    height: 150px;
    background-color: rgb(165, 165, 212);
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
color: rgb(61, 61, 61);
}

.elfocard{
    border: 2px;
    border-color: #9e9e9e;
    border-style: solid;
    border-radius: 3px;
    margin: 25px;
    width: 20%;
    height: auto;
    background-color: #a7a4a1;
    text-align: center;
    display: inline-block;
}

::placeholder { 
    opacity: 0.6; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
  }

  
