input{
    width: 260px;
    height: 22px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    border: solid;
    border-color: #9e9e9e;
    margin: 10px;
}

.buttonNewElfo{
    background: white;
    border: solid;
    border-radius: 3px;
    color: #9e9e9e;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buttonNewElfo:hover {
    background-color: rgb(216, 210, 210);
    
  }