.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url("./img/img2.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(244, 247, 250);
}

.imgOpacity{
  opacity: 0.3;
}

img{
  border-radius: 7px;
  border-style: none;
  border-color: rgb(97, 28, 28);
  border-width: 3px;
  width: 450px;
  
}

button{
  all: unset;
  background-color: rgb(93, 93, 100);
  color: rgb(199, 199, 199);
  width: 100px;
  height: 30px;
  border-radius: 7px;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  font-weight: bold;
}

span{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

.inputNota{
  width: 40px;
  height: 30px;
  background-color:  rgb(93, 93, 100);
  font-size: 20px;
  color: antiquewhite;
  text-align: center;
  border-radius: 7px;
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

h4{
  font-size: 22px;
}