/*Banner*/

.banner .container{
    height: calc(100vh - 70px);
    position: relative;
    z-index: 2;
}

.banner{
    position: relative;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    background: url('../img/img1.jpg') no-repeat center center / cover;
    margin-bottom: 30px;
}

.banner-2{
    background: url('../img/banner1.jpg') no-repeat center bottom / cover;
}

.banner:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
  
}

.banner-2:before{
    background: -moz-linear-gradient(90deg, rgba(217,217,221,1) 0%, rgba(105,105,105,1) 35%); /* FF3.6-15 */
    background: -webkit-linear-gradient(90deg, rgba(217,217,221,1) 0%, rgba(105,105,105,1) 35%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(90deg, rgba(217,217,221,1) 0%, rgba(105,105,105,1) 35%);
}

.banner h1{
    margin-bottom: 30px;
    padding-top: 300px;
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
}

.banner p{
    font-size: 25px;
    line-height: 30px;   
}

@media (max-width: 600px) {
    .banner h1{
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 25px;
    }
    .banner p{
        font-size: 12px;
        line-height: 14px;
    }
    .banner br{
        display: none;
    }
}

