/*Button*/

.button{
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s; 
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}   
.button:hover{
    transform: scale(1.1);
} 
.button-wine{
    background: #bc3e3e;
}
.button-green{
    background: #34ae49;
}
.button-wine:hover{
    background: #9b3838;
}
.button-green:hover{
    background: #2c963e;
}
.button-wine:active{
    background: #c06868;
}
.button-green:active{
    background: #588b60;
}

@media(max-width:480px){
    .button{
        display: block;
        width: 100%;
    }
}
