/* Header */

.header{
    width: 100%;
    height: 100px;
    padding: 8px 0;
    background: -moz-linear-gradient(45deg,  #ffffff 40%, #242323 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #ffffff 40%,#242323 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #ffffff 40%,#242323 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bc3e3e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4); 
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.logo{
    padding-top: 10px;
    width: 250px;
}
.header ul{
    padding: 15px;
}

@media(max-width:600px){
    .header{
        text-align: center;
    }
    .logo, 
    .header ul{
        float: none;
    }
    .logo{
        padding-top: 0;
        margin-bottom: 10px;
    }
    .header nav{
        padding: 0px;
        
    }
    .header a:not(.logo){
        font-size: 12px;
        padding: 7px;
        line-height: 12px;
    }
}
