/*CSS BANDEIRAS*/

body {
    background-color: rgb(206, 206, 206);
  }

  .div-11{
    height: 15px;
  }

  div {
    width: 200px;
    height: 50px;
  }
  .div-35{
    width: 35%;
    height: 50%;
    background-color: white;
  }
  .div-65{
    width: 65%;
    height: 50%;
  }
  .div-absolute{
    position: absolute;
    background: white;
    width: 70px;
    height: 75px;
  }
  .div-gre-40{
    height: 40%;
    width: 100%;
  }
  .div-gre-20{
    height: 20%;
    width: 100%;
  }

  .div-gre-center{
    height: 100%;
    width: 30%;
    background-color: white;
    position: absolute;
    z-index: 10;
    margin-left: 24px;
  }

  .div-libano{
      width: 200px;
      height: 45px;
  }
  .div-libano-centro{
      width: 200px;
      height: 60px;
  }

  .div-fin{
      width: 35px;
      height: 100%;
      margin-left: 28%;
  }

  .div-fin-tb{
      height: 55px;
  }

  .div-fin-centro{
      width: 200px;
      height: 35px;
  }
 
  section {
    float: left;
    margin: 50px;
  }
   
  .grande {
    height: 150px;
  }
  
  .preto {
    background-color: black;
  }

  .azul-escuro{
      background-color: rgb(54, 54, 114);
  }
  
  .vermelho {
    background-color: red;
  }
  
  .amarelo {
    background-color: yellow;
  }
    
  .branco {
    background-color: white;
  }
  
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
  }
  
  .relativo {
    position: relative;
  }
  
  .redondo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  img{
    height: 60px; 
    padding-left:70px;
  }