.App-home .header {
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    position: relative;
    z-index: 3;
    background-color: rgb(228, 228, 228)
  }
  
  .App-home .link{
    margin: 10px 10px;
  }

  .App-home .button {
    all: unset;
    display: inline-block;
    margin-left: 15px;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(141, 141, 141);
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
  }