 .titles {
  display: flex;
  justify-content: center;
}

.poster {
  width: 100%;
  height: 465px;
  border: solid black;
  margin: 10px;
  padding: 10px;
  color: black;
}

.poster a {
  text-decoration: none;
  color: black;
}

.poster a:hover {
  text-decoration: underline white;
  color: white;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.row {
  margin: 0 -15px;
}

.row:before,
.row:after {
  content: '';
  display: table;
  clear: both;
}

.col {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.col-sm-100 {
  width: 100%;
}

.col-sm-75 {
  width: 75%;
}

.col-sm-50 {
  width: 50%;
}

.col-sm-25 {
  width: 25%;
} 
