.App-blackMirror{
  background: url(../img/img2.jpg) no-repeat;
  color: rgb(201, 200, 200);
  font-weight: bold;
}

.App-blackMirror .nameHeader{
  text-align: center;
  position: absolute;
  margin-left: 45%;
  top: 0px;
  z-index: -1;
  color: rgb(206, 67, 67); 
  }

.App-blackMirror .header {
  padding: 15px 0;
  background: #fff;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  position: relative;
  z-index: 3;
  background: url(../img/blackMirror1.png) no-repeat;
  background-size: 200px;
  background-position: center;
  background-color: rgb(228, 228, 228)
}

.App-blackMirror .imgEpisodio{
  border-radius: 5px;
}

.App-blackMirror .logoLink {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}

.App-blackMirror .button {
  all: unset;
  display: inline-block;
  margin-left: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-weight: bold;
  background-color: rgb(141, 141, 141);
  transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

.App-blackMirror .container {
  max-width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 100px;

}

.App-blackMirror .inputNota{
  margin-top: 20px;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  all: none;
}

.App-blackMirror .msgNotaVerde{
  color: whitesmoke;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  background-color: green;
  border-radius: 3px;
}

.App-blackMirror .msgNotaVermelha{
  color: whitesmoke;
  border-color: red;
  border-style: solid;
  border-width: 2px;
  background-color: red;
  border-radius: 3px;
}

.App-blackMirror .elementToFadeInAndOut {
-webkit-animation: fadeinout 4s linear forwards;
animation: fadeinout 4s linear forwards;
opacity: 0;
}

@-webkit-keyframes fadeinout {
50% { opacity: 1; }
}

@keyframes fadeinout {
50% { opacity: 1; }
}




