.App-dbcFlix{
text-align: left;
}

.App-dbcFlix .nameHeader{
text-align: center;
position: absolute;
margin-left: 45%;
top: 0px;
z-index: -1;
color: rgb(206, 67, 67);

}

.App-dbcFlix .header {
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    position: relative;
    z-index: 3;
    background-color: rgb(228, 228, 228)

  }

.App-dbcFlix .titles {
    display: flex;
    justify-content: center;
  }
  
  .App-dbcFlix .poster {
    width: 100%;
    height: 465px;
    border: solid black;
    margin: 10px;
    padding: 10px;
    color: black;
  }
  
  .App-dbcFlix .poster a {
    text-decoration: none;
    color: black;
  }
  
  .App-dbcFlix .poster a:hover {
    text-decoration: underline white;
    color: white;
  }
  
  .App-dbcFlix .container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  
  .App-dbcFlix .row {
    margin: 0 -15px;
  }
  
  .App-dbcFlix .row:before,
  .App-dbcFlix .row:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .App-dbcFlix .col {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
  }
  
  .App-dbcFlix .col-sm-100 {
    width: 100%;
  }
  
  .App-dbcFlix .col-sm-75 {
    width: 75%;
  }
  
  .App-dbcFlix .col-sm-50 {
    width: 50%;
  }
  
.App-dbcFlix .col-sm-25 {
    width: 25%;
} 

.App-dbcFlix .menuLista{
    display: inline-flex;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.App-dbcFlix li{
    margin-left: 15px;
}

.App-dbcFlix .stlMenu{
    background-color: black;
}