body{
    font-family:  "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: rgb(235, 229, 229);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    background: url('../img/img1.jpg') no-repeat center bottom / cover;
}
.altura{
    text-transform: none;
}

.container{
    width: 600px;
    height: 700px;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(92, 88, 88);
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.container1{
    max-width: 550px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.row {
    margin: 0 -15px;
}
.col {
    padding: 5px 30px;
    float: left;
    box-sizing: border-box;
}

.col-sm-100 {
    width: 100%;
}

.col-sm-75 {
    width: 75%;
}

.col-sm-50 {
    width: 50%;
}

.col-sm-25 {
    width: 25%;
}

.logo{
    width: 250px;
    padding: 20px 10px;
}

img{
    width: 110px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 15px;
}

.float-l{
    float: left;
}
.float-r{
    float: right;
}

input{
    float: right;
    position: relative;
}

.col-id {
    padding: 30px 80px;
    float: right;
    box-sizing: border-box;
    margin-top: 10px;
}

.col-50 {
    width: 50%;
     box-sizing: border-box;
}

.col-100{
    width: 100%;
}

.idNumero{
    width: 100px;
    height: 60px;
    background-color: black;
    font-size: 50px;
    line-height: 55px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(218, 213, 213);
}

.info{
    background-color: black;
    width: 70%;
    box-sizing: border-box;
    height: 400px;
    border-radius: 15px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(92, 88, 88);
    position: absolute;
    margin-top: 50px;
    margin-left: 3px;
    margin-right: 10px;
    color: antiquewhite;
    padding: 10px 10px;

}

.botao{
    margin-top: 400px;
    z-index: +10;
    position: absolute;
}

button{
    all: unset;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-color: blue;
    color: rgb(172, 170, 170);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-width: 3px;
    border-style: groove;
    border-color: rgb(172, 170, 170);
    text-align: center
}

.buttonRed{
    all: unset;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: rgb(199, 5, 5);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-width: 3px;
    border-style: groove;
    border-color: rgb(172, 170, 170);
    text-align: center
}
.buttonYellow{
    all: unset;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color:yellow;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-width: 3px;
    border-style: groove;
    border-color: rgb(172, 170, 170);
    text-align: center
}
.buttonGreen{
    all: unset;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: green;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-width: 3px;
    border-style: groove;
    border-color: rgb(172, 170, 170);
    text-align: center
}


