.container {
    max-width: 980px;
    height: 350px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.logar{
    text-align: center;
}

.logar h2{
    font-size: 35px;
}

.logar input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #9e9e9e;
    height: 25px;
    width: 300px;
    text-align: center;
    font-size: 17px;
}

.logar button{
    background-color: rgb(0, 0, 0); 
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.logar button:hover {
    background-color: rgb(78, 78, 78);
    color: white;
  }