.ag.container{
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ag{
    min-height: 400px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardAg{
    border: 2px;
    border-color: #9e9e9e;
    border-style: solid;
    border-radius: 3px;
    margin: 25px;
    width: 20%;
    height: auto;
    background-color: #e27901;
    text-align: center;
    display: inline-block;
}

.input{
    width: 260px;
    height: 22px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    border: solid;
    border-color: #9e9e9e;
    margin: 10px;
}
::placeholder { 
    opacity: 0.6; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
  }

  .buttonIsDigital{
    background-color: #e27901; 
    border-color: #9e9e9e;
    color: white;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255); 
    margin: 15px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .buttonIsDigital:hover {
    background-color: #eca049;
}
