.pg{
    min-height: 300px;
}

.pg.container{
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonLogout{
    margin: 10px;
    text-decoration: none; 
    background-color: #e27901;
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;
    align-items: center;
    width: 100px;
    height: 40px;
}
.buttonLogout:hover {
    background-color: #eca049;
}
.b1{
    text-decoration: none; 
    color: white;
}

.card{
    background-color: #e27901; 
    border-color: #9e9e9e;
    color: white;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    margin: 30px;
    width: 150px;
    height: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.card:hover {
    background-color: #eca049;
}

.textCard{
    color: white;
    text-decoration:none; 
    
}