/* Banner */

.banner {
    position: relative;
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,0.9);
    background: url('../img/banner.jpg') no-repeat center bottom / cover;
}

.banner-2 {
    background-image: url('../img/banner-2.jpg');
}

/* este before esta gerando um elemento com gradiente para servir de filtro para a imagem do banner */
.banner:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    /* Sintaxe do gradiente para firefox, chrome, e demais navegadors. Para firefor e chrome estamso utilizando vendor prefixo: moz e webkit */
    background: -moz-linear-gradient(-45deg,  #0f7afd 0%, #34ae49 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #0f7afd 0%,#34ae49 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #0f7afd 0%,#34ae49 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.banner-2:before {
    background: -moz-linear-gradient(-45deg,  #34ae49 0%, #0f7afd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #34ae49 0%, #0f7afd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #34ae49 0%, #0f7afd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.banner .container {
    /* VH retorna a altura do viewport, calc do CSS nos permitiu subtrair a altura do cabeçalho para o banner ter a altura exata necessária */
    height: calc(100vh - 70px);
    position: relative;
    z-index: 2;
}

.banner h1 {
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
}

.banner p {
    font-size: 22px;
    line-height: 28px;
}

@media (max-width: 600px) {
    .banner h1 {
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 25px;
    }

    .banner p {
        font-size: 12px;
        line-height: 14px;
    }

    .banner br {
        display: none;
    }
}